<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="robots" content="noindex">
	<title>Оплата</title>
	<link href="/payment/pay.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/payment/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
	<section class="container" role="main">
		<h2>К оплате {{ amountTotal }} руб. ({{ fee }} руб. комиссия)<br>Мы отправили на твой телефон код.<br>Введи его в поле внизу</h2>
        <div>
            <form action="/pcp/proc/tele2/{{ nickname }}/{{ packId }}{{ promoId ? '/' + promoId : '' }}">
                <input type="hidden" name="act" value="validate">
                <input type="hidden" name="paymentId" value="{{ paymentId }}">
                <div class="card" style="width: 18rem;">
                    <input type="text" name="code" placeholder="Введи код" pattern="[0-9]+">
                </div>
                <div class="card small" style="width: 18rem;" onclick="document.querySelector('form').submit()">
                    Оплатить
                </div>
            </form>
        </div>

        <div style="display: flex; justify-content: center; margin-top: 3em">
            <img src="/images/logo.svg"/>
        </div>
	</section>

</body>
</html>